$darkBackgroundColor: #2E2E2E;
$lightBackgroundColor: #363636;
$inputBackgroundColor: #444444;
$textColor: #606060;
$textColor2: #e6e6e6; 
$activeColor: #4CAF50;
$inactiveColor: #DC4545;
$textColor3: #c9c9c9;
$alertTextColor: #DC4545;
$logoColor: #ffffff;
$logoFont: 'Alata', sans-serif;
$textFont: Helvetica Neue,Helvetica,Arial,sans-serif; 
$mainBorderColor: #f46336;
$mainBtnColor: #f46336;
$linksFontFamily: 'Nanum Gothic', sans-serif;
$linksFontSize: 16px;
$modalLabelTextColor: #2E2E2E;